<div class="card">
    <div class="card__wrapper">
        <div class="card_item ">{{city}}</div>
        <div class="card__updateData" *ngIf="weather.isUpdateWeather; else noUpdateWeather">
            <div class="card_item card__item_icon" [innerHTML]="weather.iconHtml"></div>
            <div class="card_item "><i class="fa-solid fa-temperature-half"></i> {{weather.temp}} °C</div>
            <div class="card_item card__item_other">
                <div class=""><i class="fa-solid fa-droplet"></i> {{weather.humidity}} %</div>
                <div class=""><i class="fa-solid fa-wind"></i> {{weather.wind}} m/s </div>
            </div>
            <div class=""><small>Обновленно в {{weather.updateDate | date:'HH:mm:ss' }}</small></div>
        </div>

        <ng-template #noUpdateWeather>
            <div class="card__noData" >
                <div class="card__noData_item">
                    <p>Нет данных</p>
                </div>
            </div>
        </ng-template>

        <div class="card__iconDelete" (click)="weatherService.showDialogDeleteCity(city)"><i class="fas fa-trash" ></i></div>
    </div>
</div>

