<div class="wrapper">
    <header class="header">
        <button class="button header__button_add" (click)="showModal=true"><i class="fas fa-plus"></i> Добавить город</button>
        <button class="button header__button_start"><i class="fas fa-play"></i> Отслеживать</button>
        <button class="button header__button_stop"> <i class="fas fa-stop"></i> Остановить</button>
    </header>

    <div class="body">
      <div class="body__modal" [ngClass]={show:!showModal}>
        <div class="body__modal_backdrop"></div>
        <div class="body__modal_window">
          <h4 class="modal__title modal_item">Выберите город</h4>
          <ng-select  placeholder="Выберите город" (change)="weatherService.addCardCity($event)">
            <ng-option *ngFor="let city of weatherService.cities" [value]="city">{{city}}</ng-option>
          </ng-select>
          <button class="modal__button modal_item" (click)="showModal=false">Закрыть</button>
          <div class="modal__button_close" (click)="showModal=false"><i class="fas fa-times"></i></div>  
        </div>
      </div>
    
      <div class="body__content">
        <div class="body__title" *ngIf="weatherService.cardCities.length  == 0">
          <p>Добавьте город</p>
        </div>

        <div *ngFor="let city of weatherService.cardCities">
          <app-card [city]="city"></app-card>
        </div>

      </div>

    </div>

    <footer class="footer">
        <div class="footer__content">
          <p>Copyright© {{copyrightDate}}</p>
        </div>
    </footer>
</div>