<div class="wrapper">
    <header class="header">
        <button class="button header__button_add"><i class="fas fa-plus"></i> Добавить город</button>
        <button class="button header__button_start"><i class="fas fa-play"></i> Отслеживать</button>
        <button class="button header__button_stop"> <i class="fas fa-stop"></i> Остановить</button>
    </header>

    <div class="body">
      <div class="body__modal">
        <div class="body__modal_backdrop"></div>
        <div class="body__modal_window">
          <h4 class="modal__title modal_item">Выберите город</h4>
          <input type="text" class="modal_item">
          <button class="modal__button modal_item">Закрыть</button>
          <div class="modal__button_close"><i class="fas fa-times"></i></div>  
        </div>
      </div>
    
      <div class="body__content">
        <p>Добавьте город</p>
      </div>
      
    </div>

    <footer class="footer">
        <div class="footer__content">
          <p>Copyright© 2022</p>
        </div>
    </footer>
</div>