.wrapper{
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    height: 100vh;  
    width: 100%;  
    background-color: #ffffff;
   
   
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient( 135deg, #72abff 0%, #5151E5 80%);
    top: 0;
    width: 100%;
    min-height: 9%;
    z-index: 10;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    min-width: 180px;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0px 5px 10px #51687e;
    transition: all 0.3s;
}

.button:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 25px -5px #51687e;
    cursor: pointer; 
}
.button:active {
    box-shadow: 0px 4px 8px #333f4b;
    transform: scale(0.98);
  }

.header__button_add {
    background-color: #0275d8;
}

.header__button_start {
    background-color: #5cb85c;
}

.header__button_stop {
    background-color: #d9534f;
}

.disabled {
    background-color: #808080;
    transform: scale(1); 
    cursor: pointer; 
}

.disabled:hover {
    transform: scale(1.0);
    cursor: default; 
    transform: scale(1);
    box-shadow: 0px 5px 10px #51687e; 
}

.fas .header{
    margin-right: 10px;
}

.body {
    width: 100%;
}
.display_none {
    display: none;
}

.body__modal_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.body__modal_window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 20px;
    min-width: 300px;
    padding: 2rem 3rem;
    background: #fefefe;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    z-index: 12;
}

.modal_item {
    margin-top: 30px;
}

.modal__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.modal__button {
    background-color: #0275d8;
}

.modal__button_close {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 2rem;
    padding: 10px;
    color: #000000;
}

.modal__button_close:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: all 0.3s;
}
.modal__button_close:active {
    transform: scale(0.95);
    cursor: pointer;
}


.body__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 616px) { 
    .body__content {
        margin-top: 130px;
    } 
}

@media (max-width: 416px) { 
    .body__content {
        margin-top: 190px;
    } 
}

.body__title {
    margin-top: 50px;
    font-size: 2.5rem;
    color:rgba(0, 0, 0, 0.3)
}

.modal__button_del_group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.button_del {
    background-color: #d9534f;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 135deg, #72abff 0%, #5151E5 80%);
    color: white;
    min-height: 8vh; 
}